.tasks-container {
    padding: 60px 85px;
    display: flex;
    max-width: 40%;
    padding-top: 50px;
    height: 100vh;
    flex-direction: column;

    h2 {
        margin-bottom: 18px;
    }

    h3 {
        font-size: 18px;
    }

    .last-tasks {
        flex: 1;
        display: flex;
        overflow-y: hidden;
        flex-direction: column;
    }

    .completed-tasks {
        flex: 1;
        padding-top: 20px;

        .tasks-list {
            margin-top: 20px;
        }
    }
}